body{
background-image:url(beach.jpeg) ;
background-repeat: no-repeat;
background-size: cover;
}
header{
    padding: 2em;
    background-color: #edb1f1;
    margin-top: 2em;
    text-align: center;
    color: black;
}
.place{
    font-size: 2em;
    text-align: center;
}
.btn-large{
    margin: 0.5em;
}
.card{
    /* text-align: center; */
    width: 45em;
    /* text-align: 20px; */
    background-color: #edb1f1;
    justify-content: right;
    color: black;
    
}

.new-place-button{
    background-color: #8ef6e4;
    border-color: pink;
    text-align: center;
    position: relative;
    left: 650px;
}
#button:hover{
    background-color: white;
}